
@{
    ViewBag.Title = "SecurityInfo";
}

<h2>SecurityInfo</h2>
@Scripts.Render("~/bundles/App")
<html ng-app="appmodule">
<head>
    <script src="~/Scripts/App/Module.js">    </script>
    <script src="~/Scripts/App/LoginLogic.js">    </script>
</head>
<body ng-controller="logincontroller">
    <h1>The Security Information View</h1>
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <td>
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <td>Email:</td>
                        <td>
                            <input type="text" class="form-control"
                                   ng-model="userRegistrationEmail" />
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input type="password" class="form-control"
                                   ng-model="userRegistrationPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                        <td>
                            <input type="password" class="form-control"
                                   ng-model="userRegistrationConfirmPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" value="Register"
                                   class="form-control btn btn-success"
                                   ng-click="registerUser()" />
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
            <td></td>
            <td>
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <td>Email:</td>
                        <td>
                            <input type="text" class="form-control"
                                   ng-model="userLoginEmail" />
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input type="password"
                                   class="form-control"
                                   ng-model="userLoginPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" value="Login" class="form-control btn btn-success"
                                   ng-click="login()" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div> </div>

    @*<a href="http://~/Scripts/jquery-2.1.4.min.js" rel="nofollow" target="_blank">http://~/Scripts/jquery-2.1.4.min.js</a>
    <a href="http://~/Scripts/bootstrap.min.js" rel="nofollow" target="_blank">http://~/Scripts/bootstrap.min.js</a>
    <a href="http://~/Scripts/angular.min.js" rel="nofollow" target="_blank">http://~/Scripts/angular.min.js</a>
    <a href="http://~/Scripts/App/Module.js" rel="nofollow" target="_blank">http://~/Scripts/MyScripts/Module.js</a>
    <a href="http://~/Scripts/App/LoginLogic.js" rel="nofollow" target="_blank">http://~/Scripts/MyScripts/LoginLogic.js</a>*@
</body>
</html>